@import '../moduls/variable.scss';

@mixin boxes-parameter($wd,$hg,$bg-color) {
    width: $wd;
    height: $hg;
    background-color: $bg-color;
}
@mixin display($display){
    display: $display;
}
@mixin display-parameter($justify,$align) {
    justify-content: $justify;
    align-items: $align;
}
@mixin bg-img($size,$repeat,$pos) {
    background-size:$size;
    background-repeat: $repeat;
    background-position: $pos;
}
@mixin text($font,$cl,$ffamily){
    font-size: $font;
    color: $cl;
    font-family: $ffamily;
}
@mixin float($float) {
    float: $float;
}
@mixin title($fontsize,$fontcolor,$fontfemily){
    font-size: $fontsize;
    color: $fontcolor;
    font-family: $fontfemily;
}

