// width height px-s;
$px-0:100%;
$px-0-5:50px;
$px-1:100px;
$px-1-5:150px;
$px-2:200px;
$px-2-5:250px;
$px-3:300px;
$px-3-5:350px;
$px-4:400px;
$px-5:500px;
$px-6:600px;
$px-7:700px;
$px-5-5:750px;
$px-7-5:665px;
$px-8:800px;
$px-8-5:850px;
$px-9:900px;
$px-10:1000px;
$px-11:1100px;
$px-12:1153px;
$px-content:960px;


// font size
$font-size-default:16px;
$font-size-1:10px;
$font-size-2:20px;
$font-size-3:30px;
$font-size-4:40px;
$font-size-5:50px;

// colors
$color-1:red;
$color-2:green;
$color-3:blue;
$color-4:yellow;
$color-5:pink;
$color-wt:white;
$dark:#191919;
$lite-dark:#212121;
$color-none:transparent;
$color-h:#9caf6f;
$sec-color:#45493b;

// fonts

$font-1: sans-serif;

// margins
$mt-1:10px;
$mt-2:20px;
$mt-3:30px;
$mt-4:40px;
$mt-5:50px;


// paragraps




