// width height px-s;
$px-1:100px;
$px-2:200px;
$px-3:300px;
$px-4:400px;

// font size
$font-size-1:10px;
$font-size-2:20px;
$font-size-3:30px;

// colors
$color-1:red;
$color-2:green;
$color-3:blue;
$color-4:yellow;
$color-5:pink;

// fonts

$font-1: sans-serif;

// border


